.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 80px 170px;
}
.projectsHeading {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  background: linear-gradient(280deg, #dbb2f8 50%, #ffb6c1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
