.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 50px 170px;
}
.footerContentRight {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footerContentRight h2 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  background: linear-gradient(
    270deg,
    var(--secondary-colour) 50%,
    var(--primary-colour) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footerContentRight img {
  width: 35px !important;
  height: 35px !important;
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.5s;
}
.footerContentRight img:hover {
  transform: scale(1.09);
}
.footerContentLeft {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column; /* stack left and right content */
    align-items: center;
    gap: 30px;
    padding: 30px 20px; /* reduce padding for smaller screens */
    text-align: center;
  }

  .footerContentRight,
  .footerContentLeft {
    flex-direction: row; /* keep items in a row but smaller */
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footerContentRight h2 {
    font-size: 20px; /* scale down the heading */
  }

  .footerContentRight img,
  .footerContentLeft img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px;
  }
}
