.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 80px 170px;
}
.aboutHeading {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: left;
  background: linear-gradient(280deg, #dbb2f8 50%, #ffb6c1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutContent {
  display: flex;
  gap: 20px;
  background: rgb(255, 182, 193, 0.5);
  padding: 30px;
  border-radius: 20px;
}
.aboutSkillsHeading h2 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
}
.aboutSkills ul {
  list-style: circle;
  padding: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}
.aboutSkills li {
  margin-bottom: 10px;
}
.aboutSkills h3 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
}
.aboutSkillList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutSkillName {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}
.aboutSkillName li {
  min-width: 170px;
}
.aboutSkillName hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(
    264deg,
    rgb(182, 255, 160) 40%,
    rgb(255, 106, 106) 80%
  );
}
