.contactContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 20px;
  margin: 50px 170px;
}
.contactHeading {
  font-size: 25px;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  background: linear-gradient(280deg, #dbb2f8 50%, #ffb6c1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;
}
.contactContentLeft {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 20px;
  padding-right: 100px;
}
.contactContentLeft h2 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
}
.contactContentLeft p {
  max-width: 400px;
  font-size: 16px;
  line-height: 35px;
  text-align: justify;
}
.contactContent {
  display: flex;
  gap: 50px;
}
.contactDetail img {
  width: 35px !important;
  height: 35px !important;
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.contactDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.contactForm label {
  font-weight: bold;
  font-family: "Sora", sans-serif;
}
.contactForm input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  border-radius: 20px;
  border: none;
  background: rgb(255, 182, 193, 0.5);
  font-family: "JetBrains Mono", monospace;
}
.contactForm textarea {
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  border: none;
  background: rgb(255, 182, 193, 0.5);
  width: 400px;
  height: 150px;
  font-family: "JetBrains Mono", monospace;
}
.contactFormBtn {
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #dbb2f8 0.36%, #ffb6c1 102.06%);
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  border: none;
  transition: 0.5s;
}
.contactFormBtn:hover {
  transform: scale(1.09);
}
