.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 50px 170px;
}
.contactHeading {
  font-size: 25px;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  background: linear-gradient(
    280deg,
    var(--secondary-colour) 50%,
    var(--primary-colour) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;
}
.contactContentLeft {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 20px;
  padding-right: 100px;
}
.contactContentLeft h2 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
}
.contactContentLeft p {
  max-width: 400px;
  font-size: 16px;
  line-height: 35px;
  text-align: justify;
}
.contactContent {
  display: flex;
  gap: 50px;
}
.contactDetail img {
  width: 35px !important;
  height: 35px !important;
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.contactDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.contactForm label {
  font-weight: bold;
  font-family: "Sora", sans-serif;
}
.contactForm input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  border-radius: 20px;
  border: none;
  background: var(--card-bg-colour);
  font-family: "JetBrains Mono", monospace;
  color: --var(--text-colour);
}
.contactForm textarea {
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  border: none;
  background: var(--card-bg-colour);
  width: 400px;
  height: 150px;
  font-family: "JetBrains Mono", monospace;
  color: var(--text-colour);
}
.contactFormBtn {
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(
    267deg,
    var(--secondary-colour) 0.36%,
    var(--primary-colour) 102.06%
  );
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  border: none;
  transition: 0.5s;
  color: var(--text-colour);
}
.contactFormBtn:hover {
  transform: scale(1.09);
}
.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: var(--text-colour);
}
