:root {
  --bg-colour: #ffffff;
  --text-colour: #000000;
  --primary-colour: #ffb6c1;
  --secondary-colour: #dbb2f8;
  --card-bg-colour: rgb(255, 182, 193, 0.5);
  --skills-green: rgb(182, 255, 160);
  --skills-red: rgb(255, 106, 106);
  --icons: #000000;
}
.dark-theme {
  --bg-colour: #0a0a0a;
  --text-colour: #ffffff;
  --primary-colour: #ff006e;
  --secondary-colour: #bc13fe;
  --card-bg-colour: rgb(255, 0, 110, 0.5);
  --skills-green: rgb(0, 255, 110);
  --skills-red: rgb(255, 0, 110);
  --icons: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-colour);
  color: var(--text-colour);
  font-family: "JetBrains Mono", monospace;
  transition:
    background-color 0.5s,
    color 0.5s;
  scroll-behavior: smooth;
}

/* ensure sections account for fixed nav height */
section {
  scroll-margin-top: 90px;
}
